nav > ul{
      display: flex;
}

nav li{
      list-style: none;
      margin: 20px;
      padding: 0 5px;

}
nav li:hover{
      background-color: chocolate;
}

nav li a{
      text-decoration: none ;
      color: burlywood;
      font-size: 30px;
}


nav>ul>li:hover>ul {
      display: block;
}
.dropdown{
      display: none;
      position: absolute;
      background-color: crimson;
      padding: 0;
      
}

.dropdown li{
      margin: 0 10px;
      padding: 0;
}